<section
  class="
    container-fluid container-section
    font--roboto
    default--text-color
    body-text--font-size
  "
>
  <mat-toolbar class="menu">
    <span class="mr-5">Currency exchange</span>

    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      routerLink="/exchange"
    >
      Exchange
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon menu-button"
      aria-label="Example icon-button with heart icon"
      routerLink="/exchange-rates"
    >
      Exchange Rates
    </button>
  </mat-toolbar>
  <article class="d-flex flex-fill app-content p-3">
    <main class="flex-fill d-flex flex-column">
      <router-outlet></router-outlet>
    </main>
  </article>
</section>
